
:root {
  /* Backround and div element Colors */
  --nmf-bk-backroundMain: #F8F0e6;
  --nmf-bk-contrast: #0a264a;

  /* Grapical Elements*/
  --nmf-ge-separator: #e4dbcf;
  --nmf-ge-buisness-hover: #f0e6da;
  --nmf-ge-button: #214400;
  --nmf-ge-focusedButton: #3b7a00;


  /* Text Cololors */
  --nmf-t-h1: #000712;
  --nmf-t-h2: #000a19;
  --nmf-t-a: #002d68;
  --nmf-t-p: #000d1f;
  --nmf-t-bkContrast: #f8f8f9;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--nmf-t-p);
  background: var(--nmf-bk-backroundMain);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
