/* main.css is used for class styling for global classes, or
classes that appear often throught the site */

@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #609a2a;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: #69ac2b;
    background-color: hsla(91, 73%, 60%, 0.2);
    border-radius: 10px;
  }
}

*::-webkit-scrollbar {
  display: none !important; /* Hide all scrollbars for chrome based browsers */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


/* Survey Page Styling --------------------------------------------------- */

.survey-main {
  height: 100%;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 15px auto;

}

.survey-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.survey-form h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
}

.survey-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.survey-form input[type="text"],
.survey-form input[type="number"],
.survey-form input[type="tel"],
.survey-form input[type="email"],
.survey-form input[type="file"],
.survey-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}